<h1> {{Linea}} </h1>

<section>

<button mat-raised-button (click)="R0D()" class="Robot">R0D</button>
<button mat-raised-button (click)="Desapilador()" class="Desapilador">Desapilador</button>
<button mat-raised-button (click)="R0C()" class="Robot">R0C</button>
<button mat-raised-button (click)="Prensa_1()" class="Prensa">Prensa 1</button>
<button mat-raised-button (click)="R1()" class="Robot">R1</button>
<button mat-raised-button (click)="R2()" class="Robot">R2</button>
<button mat-raised-button (click)="Winch_1()" class="Winch">Winch (1/2)</button>
<button mat-raised-button (click)="Prensa_2()" class="Prensa">Prensa 2</button>
<button mat-raised-button (click)="R3()" class="Robot">R3</button>
<button mat-raised-button (click)="Winch_2()" class="Winch">Winch (2/3)</button>
<button mat-raised-button (click)="Prensa_3()" class="Prensa">Prensa 3</button>
<button mat-raised-button (click)="R4()" class="Robot">R4</button>
<button mat-raised-button (click)="Winch_3()" class="Winch">Winch (3/4)</button>
<button mat-raised-button (click)="Prensa_4()" class="Prensa">Prensa 4</button>
<button mat-raised-button (click)="R5()" class="Robot">R5</button>
<button mat-raised-button (click)="Winch_4()" class="Winch">Winch (4/5)</button>
<button mat-raised-button (click)="Prensa_5()" class="Prensa">Prensa 5</button>
<button mat-raised-button (click)="R6()" class="Robot">R6</button>
<button mat-raised-button (click)="Winch_5()" class="Winch">Winch (5) ver los winch</button>
<button mat-raised-button (click)="R7()" class="Robot">R7</button>
<button mat-raised-button (click)="R8()" class="Robot">R8</button>
<button mat-raised-button (click)="Apilado()" class="Apilado">Apilado</button>
<button mat-raised-button (click)="Banda()" class="Banda">Banda</button>



<!-- Ng-Click -->

{{Linea}}    {{Activo}}

</section>
