section {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

h1{
  color: red;
  font-weight: bold;
  }

.Robot{
  background: orange;
  height: 30px;
  width: 20px;
  margin: 5px;
  align-self: center;
}

.Desapilador{
  background: lightblue;
}

.Lavadora{
  background: coral;
  align-self: center;
}

.Prensa{
  background: grey;
}

.Apilado{
  background: rgb(153, 108, 195);
  align-self: center;
  margin: 2.5px;
}

.Banda{
  background: green;
  align-self: center;
  margin: 2.5px;
}

.Winch{
  background: rgb(182, 194, 76);
  align-self: center;
  margin: 2.5px;
}
