section {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }
  
  h1{
    color: red;
    font-weight: bold;
  }
  
  .Enderezadora{
    background: orange;
    margin: 5px;
    align-self: center;
  }
  
  .Devanadora{
    background: lightblue;
    margin: 5px;
    align-self: center;
  }
  
  .Prensa{
    background: grey;
    margin: 5px;
    align-self: center;
  }
  
  .Apilador{
    background: green;
    align-self: center;
    margin: 5px;
  }

  .Cizalla{
    background: rgb(61, 97, 175);
    align-self: center;
    margin: 5px;
  }