<h1> {{Linea}} </h1>

<section>

<button mat-raised-button (click)="Devanadora()" class="Devanadora">Devanadora</button>
<button mat-raised-button (click)="Enderezadora()" class="Enderezadora">Enderezadora</button>
<button mat-raised-button (click)="Prensa()" class="Prensa">Prensa</button>
<button mat-raised-button (click)="Apilador_1()" class="Apilador">Apilador 1</button>
<button mat-raised-button (click)="Apilador_2()" class="Apilador">Apilador 2</button>
<button mat-raised-button (click)="Cizalla()" class="Cizalla">Cizalla</button>


<!-- Ng-Click -->

{{Linea}}    {{Activo}}

</section>