<h1> {{Linea}} </h1>

<section>


<button mat-raised-button (click)="Prensa_SMG_1()" class="Prensa">Prensa SMG 1</button>
<button mat-raised-button (click)="Prensa_SMG_2()" class="Prensa">Prensa SMG 2</button>
<button mat-raised-button (click)="Prensa_Volante()" class="Prensa">Prensa Volante</button>
<button mat-raised-button (click)="Cizalla_Corte()" class="Cizalla">Cizalla Corte</button>


{{Linea}}    {{Activo}}

</section>
