section {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    }

  h1{
    color: red;
    font-weight: bold;
    }

  .Cizalla{
    background: coral;
    align-self: center;
    margin: 5px;
    }

  .Prensa{
    background: grey;
    margin: 5px;
    }


