<head>
  <script src="Insert/hora.js"> </script>
</head>
<body>
  
  <mat-card class="TarjetaFecha">
    <mat-card-header>
      <mat-card-title class="Titulo_Fecha">Fecha:</mat-card-title>
   </mat-card-header>
   <input matInput [matDatepicker]="picker" [value]="date.value" placeholder="Elige la fecha" class="BarraFecha" >
    <mat-datepicker-toggle  matSuffix [for]="picker" class="IconoFecha"></mat-datepicker-toggle>
    <mat-datepicker  #picker > </mat-datepicker>
  </mat-card>

  <mat-card class="TarjetaTurnos">
  <mat-card-header>
      <mat-card-title class="Titulo_Turnos">Turnos:</mat-card-title>
   </mat-card-header>
   <mat-card-actions class="Turnos">
    <mat-button-toggle-group>
       <mat-button-toggle class="BotonA" value="A">A</mat-button-toggle>
       <mat-button-toggle class="BotonB" value="B">B</mat-button-toggle>
       <mat-button-toggle class="BotonC" value="C">C</mat-button-toggle>
    </mat-button-toggle-group>
   <mat-card-actions class="Dia">
    <mat-button-toggle-group>
      <mat-button-toggle class="BotonMañana" value="Mañana">Mañana</mat-button-toggle>
      <mat-button-toggle class="BotonTarde" value="Tarde">Tarde</mat-button-toggle>
      <mat-button-toggle class="BotonNoche" value="Noche">Noche</mat-button-toggle>
    </mat-button-toggle-group>
   </mat-card-actions>
  </mat-card-actions>
  </mat-card>


  <mat-card class="TarjetaActivo">
    <mat-card-header>
      <mat-card-title class="Titulo_Activo">Activo:</mat-card-title>
   </mat-card-header>
   <mat-card-actions class="Activo">
    <button mat-raised-button color="primary" (click)="openDialogEquipos()" class="BotonEquipo">Equipos</button>
    <button mat-raised-button color="primary" (click)="openDialogLayoutMatriceria()" class="BotonMatricería">Matricería</button>
    <button mat-raised-button color="primary" (click)="openDialogGruas()" class="BotonGrúas">Grúas</button>
  </mat-card-actions>
  </mat-card>

  <mat-card class="TarjetaCódigo">
    <mat-card-header>
      <mat-card-title class="Titulo_Código">Código de avería:</mat-card-title>
    </mat-card-header>
    <mat-card-actions>
      <button mat-raised-button color="primary"> Códigos </button>
    </mat-card-actions>
  </mat-card>


  <mat-card class="TarjetaHora">
    <mat-card-header>
      <mat-card-title class="Titulo_Hora">Comienzo de la avería:</mat-card-title>
    </mat-card-header>
    <mat-card-actions>
      <ngb-timepicker [(ngModel)]="time"  class="Hora_y_Minuto" ></ngb-timepicker>
    </mat-card-actions>
  </mat-card>

  <mat-card class="TarjetaSelección">
    <mat-card-header>
      <mat-card-title class="Titulo_Selección">Selección:</mat-card-title>
   </mat-card-header>
  <mat-card-actions>
    <mat-radio-group
    aria-labelledby="radio-group-label"
    class="SelecciónGrupo"
    [(ngModel)]="seleccion">
    <mat-radio-button class="SelecciónButton" *ngFor="let SeleccionPorUsuario of TiposDeSeleccion" [value]="SeleccionPorUsuario">
      {{SeleccionPorUsuario}}
    </mat-radio-button>
  </mat-radio-group>
  <div>Tu selección: {{seleccion}}</div>
  </mat-card-actions>
  </mat-card>

<mat-card class="TarjetaOrden">
  <form class="Orden">
    <mat-form-field class="CampoOrden">
    <mat-label>Orden de Mantenimiento:</mat-label>
    <textarea matInput placeholder="Número de Orden:" #message maxlength="8"></textarea>
    <mat-hint align="start"><strong>Máx 8 números</strong> </mat-hint>
    <mat-hint align="end">{{message.value.length}} / 8</mat-hint>
    </mat-form-field>
  </form>
</mat-card>

<mat-card class="TarjetaTiempo">
  <form class="Tiempo">
    <mat-form-field class="CampoTiempo">
    <mat-label>Tiempo de Avería:</mat-label>
    <textarea matInput placeholder="Tiempo:"></textarea>
    <mat-hint align="start"><strong>Tiempo en minutos</strong> </mat-hint>
    </mat-form-field>
  </form>
</mat-card>

<mat-card class="TarjetaAvería">
    <mat-form-field class="Avería">
    <mat-label>Avería o trabajo:</mat-label>
    <textarea matInput type="text" [(ngModel)]="TextoAveria" placeholder="Explique que ha pasado en la avería:" #message1 maxlength="256"></textarea>
    <button mat-button *ngIf="TextoAveria" matSuffix mat-icon-button aria-label="Clear" (click)="TextoAveria=''">
      <mat-icon>close</mat-icon>
    </button>
    <mat-hint align="start"><strong>................</strong> </mat-hint>
    <mat-hint align="end">{{message1.value.length}} / 256</mat-hint>
    </mat-form-field>
 </mat-card>

<mat-card class="TarjetaCausa">
    <mat-form-field class="Causa">
    <mat-label>Causa o motivo:</mat-label>
    <textarea matInput type="text" [(ngModel)]="TextoCausa" placeholder="Explique la causa de la avería:" #message2 maxlength="256"></textarea>
    <button mat-button *ngIf="TextoCausa" matSuffix mat-icon-button aria-label="Clear" (click)="TextoCausa=''">
      <mat-icon>close</mat-icon>
    </button>
    <mat-hint align="start"><strong>................</strong> </mat-hint>
    <mat-hint align="end">{{message2.value.length}} / 256</mat-hint>
    </mat-form-field>
</mat-card>

<mat-card class="TarjetaAcción">
  
    <mat-form-field class="Acción">
    <mat-label>Acción correctiva:</mat-label>
    <textarea matInput type="text" [(ngModel)]="TextoAccion" placeholder="Explique cómo se ha solucionado la avería:" #message3 maxlength="256"></textarea>
    <button mat-button *ngIf="TextoAccion" matSuffix mat-icon-button aria-label="Clear" (click)="TextoAccion=''">
      <mat-icon>close</mat-icon>
    </button>
    <mat-hint align="start"><strong>................</strong> </mat-hint>
    <mat-hint align="end">{{message3.value.length}} / 256</mat-hint>
    </mat-form-field>
</mat-card>

<router-outlet></router-outlet>

</body>
