body{
  margin: 0px auto;
  width: 100%;
  height: 1500px;
  background: grey;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
  /* align-content: space-around; */
/*   justify-content: space-evenly;
 *//*   align-items: center;
  justify-content: center; */
}

/*********************************************FECHA******************************************/

.TarjetaFecha{
  width: 200px;
  height: 125px;
  font-size: 18px;
  margin: 2px;
  }

.BarraFecha{
  width: 120px;
  height: 40px;
  font-size: 20px;
  color: blue;
  }

.Titulo_Fecha{
  margin-left: 0%;
  }

.IconoFecha{


  }

/*********************************************TURNOS*****************************************/

.TarjetaTurnos{
  width: 280px;
  height: 190px;
  margin: 2px;
  font-size: 18px;
  }

.Titulo_Turnos{
  margin-left: 0%;
}

.Turnos{
  margin-left: 0%;
  }

.Dia{
  margin-left: 0%;
  margin-top: 0%;
  }

.BotonA{
  width: 85px;
}

.BotonB{
  width: 80px;
}

.BotonC{
  width: 80px;

}

.BotonMañana{
  width: 85px;
}

.BotonTarde{
  width: 80px;
}

.BotonNoche{
  width: 80px;
 }

/*********************************************HORA*******************************************/

.TarjetaHora{
  width: 290px;
  height: 150px;
  margin: 2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Titulo_Hora{

}


.Hora_y_Minuto{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*********************************************ORDEN******************************************/
.TarjetaOrden{
  width: 320px;
  height: 160px;
  margin: 2px;

}

.Orden{
  font-size: 25px;
}

 .CampoOrden{
  width: 290px;
  height: 75px;
}

/*********************************************ACTIVO*****************************************/

.TarjetaActivo{
  width: 290px;
  height: 150px;
  margin: 2px;
  }

.Activo{
/*   background-color: red;
 */  width: 280px;
  height: 50px;


}

.BotonEquipo{


}

.BotonMatricería{
 
}

.BotonGrúas{
   
}
/*********************************************CÓDIGO DE AVERÍA*******************************/

.TarjetaCódigo{
  width: 220px;
  height: 150px;
  margin: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

/*********************************************TIEMPO DE AVERÍA*******************************/

.TarjetaTiempo{
  width: 250px;
  height: 160px;
  margin: 2px;
}

.Tiempo{
  color: red;
  font-size: 25px;
}

.CampoTiempo{
  width: 220px;
  height: 75px;
}

/*********************************************SELECCIÓN**************************************/

.TarjetaSelección{
  width: 230px;
  height: 445px;
  margin: 2px;
}

.SelecciónGrupo {
  display: flex;
  flex-direction: column;
  margin: 0px;
}

.SelecciónButton {
  margin: 1px;
}

/*********************************************AVERÍA*****************************************/
.TarjetaAvería{
  width: 1000px;
  height: 150px;
  margin: 2px;

}
.Avería{
  display: flex;
  flex-direction: column;
 }

/*********************************************CAUSA DE LA AVERÍA*****************************/

.TarjetaCausa{
  width: 1000px;
  height: 150px;
  margin: 2px;
}

.Causa{
  display: flex;
  flex-direction: column;

}

/*********************************************ACCIÓN CORRECTIVA******************************/

.TarjetaAcción{
  width: 1000px;
  height: 150px;
  margin-left: 125px;
}

.Acción{
  display: flex;
  flex-direction: column;
}
