<h1> {{Linea}} </h1>

<section>

<button mat-raised-button (click)="Desapilador()" class="Desapilador">Desapilador</button>
<button mat-raised-button (click)="Prensa()" class="Prensa">Prensa</button>
<button mat-raised-button (click)="Banda_1()" class="Banda">Banda 1</button>
<button mat-raised-button (click)="Banda_2()" class="Banda">Banda 2</button>


<!-- Ng-Click -->

{{Linea}}    {{Activo}}

</section>
