<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <div class="toolbar" role="banner">
        <img
          width="150"
          alt="Ford Logo"
          src="assets\Image\ford.png"
        />
      </div>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/Insert">Introducir Avería</a>
      <a mat-list-item routerLink="/Modify">Modificar</a>
      <a mat-list-item routerLink="/Reports">Informes</a>
      <a mat-list-item routerLink="/Administrador">Administrador</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">article</mat-icon>
      </button>
       <div class = "RelojDigital">
          <div class = "DiaSemana">
            {{dia_de_la_semana}}
          </div>
          <div class = "Tiempo">
          {{hora}} : {{minuto}} : {{segundo}}
          </div>
      </div>
       <span>{{title}}</span>
       <mat-slide-toggle [(ngModel)]="isChecked" class="BotonDeslizante">Modo Oscuro</mat-slide-toggle>    
    </mat-toolbar>

<router-outlet></router-outlet>
   <!-- Add Content Here -->
   
  </mat-sidenav-content>
</mat-sidenav-container>
