.sidenav-container {
  height: 100%;
  margin-top: 0px;

}

.sidenav {
  width: 200px;

}
/*Logo de Ford*/
.sidenav .mat-toolbar {
  background: grey;
  justify-content: center;
  align-items: center;
  margin-top: 0px;


}
/*Menú de la APP*/
.mat-toolbar.mat-primary {
  position: relative;
  justify-content:  space-evenly;
}

.sidenav .mat-list-item {
  cursor: copy;
  color: black;
  background: green;
  margin-top: 5px;
  align-items: center;
}

.toolbar .mat-slide-toggle {
  justify-content: space-evenly;
}

.dayTitle{
  position: relative;
  align-items: right;
}