<body>
      <div class="container">
            <div class="row">
                  <div  class="col-lg-2">
                        <div class="header">
                              <button mat-raised-button color="primary" class="L114" (click)="openDialogL114()">Línea 114</button>
                        </div>
                  </div>

                  <div  class="col-lg-1">
                        <div class="header">
                              <button mat-raised-button color="primary" class="U101" (click)="openDialogU101()">U-101</button>
                        </div>
                  </div>

                  <div  class="col-lg-1">
                        <div class="header">
                              <button mat-raised-button color="primary" class="U102" (click)="openDialogU102()">U-102</button>
                        </div>
                  </div>

                  <div  class="col-lg-1">
                        <div class="header">
                              <button mat-raised-button color="primary" class="U103" (click)="openDialogU103()">U-103</button>
                        </div>
                  </div>

                  <div  class="col-lg-1">
                        <div class="header">
                              <button mat-raised-button color="primary" class="Pinzas" (click)="openDialogL114()">Pinzas</button>
                        </div>
                  </div>

                  <div  class="col-lg-1">
                        <div class="header">
                              <button mat-raised-button color="primary" class="Volteadora" (click)="openDialogL114()">Volteadora</button>
                        </div>
                  </div>

                  <div  class="col-lg-1">
                        <div class="header">
                              <button mat-raised-button color="primary" class="U104" (click)="openDialogU104()">U-104</button>
                        </div>
                  </div>
            </div>

      </div>
      
      <div class="container">
            <div class="row">
                  <div class="col-lg-1">
                        <div class="header">
                              <button mat-raised-button color="primary" class="L101" (click)="openDialogL101()">Línea 101</button>
                        </div>
                  </div>
                  
                  <div class="col-lg-1">
                        <div class="header">
                              <button mat-raised-button color="primary" class="L102">Prensa 102</button>
                        </div>
                  </div>
      
                  <div class="col-lg-1">
                        <div class="header">
                              <button mat-raised-button color="primary" class="L104" (click)="openDialogL104()">Línea 104</button>
                        </div>
                  </div>

                  <div class="col-lg-1">
                        <div class="header">
                              <button mat-raised-button color="primary" class="L105" (click)="openDialogL105()">Línea 105</button>
                        </div>
                  </div>

                  <div class="col-lg-1">
                        <div class="header">
                              <button mat-raised-button color="primary" class="L106" (click)="openDialogL106()">Línea 106</button>
                        </div>
                  </div>

                  <div class="col-lg-1">
                        <div class="header">
                              <button mat-raised-button color="primary" class="L107" (click)="openDialogL107()">Línea 107</button>
                        </div>
                  </div>

                  <div class="col-lg-1">
                        <div class="header">
                              <button mat-raised-button color="primary" class="L108" (click)="openDialogL108()">Línea 108</button>
                        </div>
                  </div>

                  <div class="col-lg-1">
                        <div class="header">
                              <button mat-raised-button color="primary" class="L109-1">Línea 109/1</button>
                        </div>
                  </div>

                  <div class="col-lg-1">
                        <div class="header">
                              <button mat-raised-button color="primary" class="L109-2">Línea 109/2</button>
                        </div>
                  </div>

                  <div class="col-lg-1">
                        <div class="header">
                              <button mat-raised-button color="primary" class="L110" (click)="openDialogL110()">Línea 110</button>
                        </div>
                  </div>

                  <div class="col-lg-1">
                        <div class="header">
                              <button mat-raised-button color="primary" class="L111" (click)="openDialogL111()">Línea 111</button>
                        </div>
                  </div>

                  <div class="col-lg-1">
                        <div class="header">
                              <button mat-raised-button color="primary" class="L112" (click)="openDialogL112()">Línea 112</button>
                        </div>
                  </div>

                  <div class="col-lg-1">
                        <div class="header">
                              <button mat-raised-button color="primary" class="L113" (click)="openDialogL113()">Línea 113</button>
                        </div>
                  </div>
            </div>
      </div>     
</body>
<!-- <section>
 -->   <!-- <div class="example-button-row">
<button mat-raised-button color="primary" class="L114" (click)="openDialogL114()">Línea 114</button>
<button mat-raised-button color="primary" class="U101" (click)="openDialogU101()">U-101</button>
<button mat-raised-button color="primary" class="U102" (click)="openDialogU102()">U-102</button>
<button mat-raised-button color="primary" class="U103" (click)="openDialogU103()">U-103</button>
      
<button mat-raised-button color="primary" class="Pinzas">Pinzas</button>
<button mat-raised-button color="primary" class="Volteadora">Volteadora</button>
     
<button mat-raised-button color="primary" class="U104" (click)="openDialogU104()">U-104</button>
<button mat-raised-button color="primary" class="L101" (click)="openDialogL101()">Línea 101</button>
<button mat-raised-button color="primary" class="L102">Prensa 102</button>
<button mat-raised-button color="primary" class="L104" (click)="openDialogL104()">Línea 104</button>
<button mat-raised-button color="primary" class="L105" (click)="openDialogL105()">Línea 105</button>
<button mat-raised-button color="primary" class="L106" (click)="openDialogL106()">Línea 106</button>
<button mat-raised-button color="primary" class="L107" (click)="openDialogL107()">Línea 107</button>
<button mat-raised-button color="primary" class="L108" (click)="openDialogL108()">Línea 108</button>
      
<button mat-raised-button color="primary" class="L109-1">Línea 109/1</button>
<button mat-raised-button color="primary" class="L109-2">Línea 109/2</button>
      
<button mat-raised-button color="primary" class="L110" (click)="openDialogL110()">Línea 110</button>
<button mat-raised-button color="primary" class="L111" (click)="openDialogL111()">Línea 111</button>
<button mat-raised-button color="primary" class="L112" (click)="openDialogL112()">Línea 112</button>
<button mat-raised-button color="primary" class="L113" (click)="openDialogL113()">Línea 113</button>

</div> -->
<!--   </section>
 -->


