* {
  /* margin: 0; */
  padding: 0;
  text-align: center;
/*   margin-left: 0px;
  margin-right: 10px; */
  margin-bottom: 5px;
  margin-top: 5px;
  justify-content: space-around;
 
}

/* .header{
  background:  greenyellow;
} */

body {
  color: #fff;
  background: #f2f2f2;
  height: 700px;
  width: 1200px;
}

.L114{
  height: 80px;
  width: 170px;
}

.U101{
  height: 200px;
  width: 80px;
}

.U102{
  height: 200px;
  width: 80px;
}

.U103{
  height: 200px;
  width: 80px;
}

.Pinzas{
  height: 50px;
  width: 80px;
  text-align: center;

}

.Volteadora{
  height: 50px;
  width: 80px;
  text-align: center;
}

.U104{
  height: 200px;
  width: 80px;
}

.L101{
  height: 200px;
  width: 80px;
}

.L102{
  height: 50px;
  width: 80px;
}

.L104{
  height: 200px;
  width: 80px;
}

.L105{
  height: 200px;
  width: 80px;
}

.L106{
  height: 200px;
  width: 80px;
}

.L107{
  height: 200px;
  width: 80px;
}

.L108{
  height: 200px;
  width: 80px;
}

.L109-1{
  height: 50px;
  width: 80px;
}

.L109-2{
  height: 50px;
  width: 80px;
  }

.L110{
  height: 200px;
  width: 80px;
}

.L111{
  height: 200px;
  width: 80px;
}

.L112{
  height: 200px;
  width: 80px;
}

.L113{
  height: 200px;
  width: 80px;
}
