section {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

h1{
  color: red;
  font-weight: bold;
  }

.Robot{
  background: orange;
  height: 30px;
  width: 20px;
  margin: 5px;
  align-self: center;
}

.Desapilador{
  background: lightblue;
  margin: 5px;
}

.Prensa{
  background: grey;
  margin: 5px;
}

.Banda{
  background: green;
  align-self: center;
  margin: 2.5px;
}
