<h1> {{Linea}} </h1>

<section>

<button mat-raised-button (click)="Desapilador()" class="Desapilador">Desapilador</button>
<button mat-raised-button (click)="RH0()" class="Robot">RHO</button>
<button mat-raised-button (click)="Lavadora()" class="Lavadora">Lavadora</button>
<button mat-raised-button (click)="RH1()" class="Robot">RH1</button>
<button mat-raised-button (click)="Prensa_1()" class="Prensa">Prensa 1</button>
<button mat-raised-button (click)="RH2()" class="Robot">RH2</button>
<button mat-raised-button (click)="Prensa_2()" class="Prensa">Prensa 2</button>
<button mat-raised-button (click)="RH3()" class="Robot">RH3</button>
<button mat-raised-button (click)="Prensa_3()" class="Prensa">Prensa 3</button>
<button mat-raised-button (click)="RH4()" class="Robot">RH4</button>
<button mat-raised-button (click)="Prensa_4()" class="Prensa">Prensa 4</button>
<button mat-raised-button (click)="RH5()" class="Robot">RH5</button>
<button mat-raised-button (click)="Banda1()" class="Banda">Banda 1</button>
<button mat-raised-button (click)="Banda2()" class="Banda">Banda 2</button>


<!-- Ng-Click -->

{{Linea}}    {{Activo}}

</section>
