<h1> {{Linea}} </h1>

<section>

<button mat-raised-button (click)="R1()" class="Robot">R1</button>
<button mat-raised-button (click)="Lavadora()" class="Lavadora">Lavadora</button>
<button mat-raised-button (click)="Desapilador()" class="Desapilador">Desapilador</button>
<button mat-raised-button (click)="R2()" class="Robot">R2</button>
<button mat-raised-button (click)="Prensa_1()" class="Prensa">Prensa 1</button>
<button mat-raised-button (click)="VD1()" class="Volvo">Volvo Descarga 1</button>
<button mat-raised-button (click)="Transportador_1()" class="Transportador">Transportador 1</button>
<button mat-raised-button (click)="VC2()" class="Volvo">Volvo Carga 2</button>
<button mat-raised-button (click)="Prensa_2()" class="Prensa">Prensa 2</button>
<button mat-raised-button (click)="VD2()" class="Volvo">Volvo Descarga 2</button>
<button mat-raised-button (click)="Transportador_2()" class="Transportador">Transportador 2</button>
<button mat-raised-button (click)="VC3()" class="Volvo">Volvo Carga 3</button>
<button mat-raised-button (click)="Prensa_3()" class="Prensa">Prensa 3</button>
<button mat-raised-button (click)="R4()" class="Robot">R4</button>
<button mat-raised-button (click)="Prensa_4()" class="Prensa">Prensa 4</button>
<button mat-raised-button (click)="R5()" class="Robot">R5</button>
<button mat-raised-button (click)="Prensa_5()" class="Prensa">Prensa 5</button>
<button mat-raised-button (click)="R1_ABB()" class="Robot">R1 ABB</button>
<button mat-raised-button (click)="Banda1()" class="Banda">Banda 1</button>
<button mat-raised-button (click)="Banda2()" class="Banda">Banda 2</button>


<!-- Ng-Click -->

{{Linea}}    {{Activo}}

</section>
