section {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

h1{
  color: red;
  font-weight: bold;
  }

.Robot{
  background: orange;
  height: 30px;
  width: 20px;
  margin: 5px;
  align-self: center;
}

.Desapilador{
  background: lightblue;
  margin: 5px;
}


.Transportador{
  background: rgb(198, 65, 216);
  margin: 5px;
}

.Volvo{
  background: rgb(115, 173, 92);
  margin: 5px;
}

.Apilado{
  background: rgb(34, 116, 209);
  margin: 5px;
}

.Lavadora{
  background: coral;
  align-self: center;
  margin: 5px;
}

.Prensa{
  background: grey;
  margin: 5px;
}

.Banda{
  background: green;
  align-self: center;
  margin: 5px;
}
